* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background: url(https://images.pexels.com/photos/7213436/pexels-photo-7213436.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2) no-repeat center center/cover;
    background-position: bottom;

    display: flex;
    justify-content: center;
    align-items: center;
}

#add-task-container {
    width: 350px;
    padding: 20px 10px;
    background-color: whitesmoke;
    border-radius: 20px;
    box-shadow: 0 0 3px;

    display: flex;
}

input {
    flex: 5;
    margin-right: 10px;
    border-radius: 10px;
    font-size: 1.2rem;
    padding: 5px;
}

#add-task {
    flex: 1;
    font-size: 1.2rem;
    padding: 5px;
    background-color: white;
    color: green;
    border: 2px solid green;
    border-radius: 10px;

    transition: .3s;
}

#add-task:hover {
    background-color: green;
    color: white;
    cursor: pointer;
}