* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),
        url(https://images.pexels.com/photos/7213436/pexels-photo-7213436.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2) center/cover no-repeat;
    background-position: bottom;

    display: flex;
    justify-content: center;
    align-items: center;
}

#add-task-container {
    width: 350px;
    padding: 20px 10px;
    background-color: whitesmoke;
    border-radius: 20px;
    box-shadow: 0 0 3px;
    margin-bottom: 20px;

    display: flex;
}

input {
    flex: 5;
    margin-right: 10px;
    border-radius: 10px;
    font-size: 1.2rem;
    padding: 5px;
}

#add-task {
    flex: 1;
    font-size: 1.2rem;
    padding: 5px;
    background-color: white;
    color: green;
    border: 2px solid green;
    border-radius: 10px;

    transition: .3s;
}

#add-task:hover {
    background-color: green;
    color: white;
    cursor: pointer;
}

.task {
    width: 100%;
    background-color: whitesmoke;
    border-radius: 10px;
    box-shadow: 0 0 3px;
    padding: 5px;
    margin-bottom: 3px;

    display: flex;
    justify-content: space-between;
}

.task li {
    list-style: none;
    flex: 4;
    padding: 5px;
    font-size: 1.3rem;
    margin: 10px;
}

.task button {
    flex: 1;
    border-radius: 10px;
    background-color: white;
    cursor: pointer;
}

.task .checkTask {
    color: orange;
    margin-right: 5px;
    border: 2px solid orange;
    font-size: 1.5rem;
}

.task .checkTask:hover {
    background-color: orange;
    color: white;
}

.task .deleteTask {
    color: red;
    border: 2px solid red;
    font-size: 1.3rem;
}

.task .deleteTask:hover {
    background-color: red;
    color: white;
}